.content {
    height: 200px;
    width: 200px;
    background-color: #A9A9A9;
}

.announcement {
    height: 500px;
    width: auto;
    background-color: #A9A9A9;
}

.card {
    width: 350px;
}

a {
    color: #000000;
}
