<head>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'
    rel='stylesheet'
  />
  <link rel='stylesheet' href='/css/register.css' />
  <script defer src='/js/register.js'></script>
</head>

<div class='login-page'>
  <div class='login-box'>
    <h2>Create an account</h2>

    <form id='registerForm' method='post' action='/register'>
      <div class='form-group'>
        <label for='username'>Username</label>
        <input id='username' name='username' type='text' placeholder='Your username' required />
      </div>

      <div class='form-group'>
        <label for='email'>Email</label>
        <input id='email' name='email' type='email' placeholder='you@example.com' required />
      </div>

      <div class='form-group'>
        <label for='password'>Password</label>
        <input
          id='password'
          name='password'
          type='password'
          placeholder='Choose a password'
          required
        />
      </div>

      <div class='login-cta'>
        <button class='register-btn' type='submit'>Register</button>
      </div>
    </form>

    <div class='small'>
      Already have an account?
      <a class='inline' href='/login'>Sign in</a>
    </div>
  </div>
</div>