<footer class="mt-5 site-footer">
    <div class="container-fluid">
        <div class="footer-row">
            <div class="footer-left">
                <p class="mb-0" style="font-size: small;">Simpleng Kristiyanong Komunidad is a non-government organization accredited by the Philippine Council for NGO Certification (PCNC) and certified with ISO 9001:2015 - Quality Management systems, ensuring its commitment to transparency, accountability, and operational excellence.</p>
            </div>

            <div class="footer-right">
                <p class="mb-0 email-text">Email us at: <strong class="text-white">simplengkomunidad@gmail.com</strong></p>

                <a href="https://www.facebook.com/profile.php?id=100091212906261" target="_blank" class="text-white text-decoration-none fs-4" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="https://www.youtube.com/@simplengkristyanongkomunidad" target="_blank" class="text-white text-decoration-none fs-4" aria-label="YouTube">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
