<nav class = "navbar navbar-expand-lg">
    <div class = "container-fluid">
        <a class = "navbar-brand">
            <img src = "/public/Uploads/Logo_SKK.jpg" alt = "Logo" width="30" height="30" class="d-inline-block align-text-top">
        </a>
    </div>

    <div class = "position-fixed top-0 end-0 m-3">
        <button class="btn btn-outline-primary me-2" type="button">Home</button>
        <button class="btn btn-outline-primary me-2" type="button">Calendar</button>
        <button class="btn btn-outline-primary me-2" type="button">Reports</button>
        <button class="btn btn-outline-primary me-2" type="button">Database</button>
        <button class="btn btn-outline-danger" type="button">Logout</button>
    </div>

</nav>