<nav class = "navbar navbar-expand-lg" style="background-color: #20432C; padding: 0.4rem 1rem;">
    <div class = "container-fluid">
        <a class = "navbar-brand">
            <img src = "/assets/SKK_Logo.png" alt = "Logo" width="60" height="60" class="d-inline-block align-text-top">
        </a>
        
        <div class="d-flex align-items-center">
            <a href="/" class="text-white text-decoration-none me-5 fs-5">Home</a>
            <a href="/" class="text-white text-decoration-none me-5 fs-5">Calendar</a>
            <a href="/" class="text-white text-decoration-none me-5 fs-5">Reports</a>
            <a href="/member-database" class="text-white text-decoration-none me-5 fs-5">Database</a>
            <a href="/" class="text-danger text-decoration-none fw-bold fs-5">Logout</a>
        </div>
    </div>
</nav>
