<nav class = "navbar navbar-expand-lg" style="padding: 0.4rem 1rem;">
    <div class = "container-fluid">
        <a class = "navbar-brand d-flex align-items-center gap-1" href="/">
            <img src = "/assets/SKK_Logo.png" alt = "Logo" width="60" height="60" class="d-inline-block align-text-top">
            <span class="fw-bold fs-4" style="color: #A1C14B;">SKK</span>
        </a>
        
        <div class="d-flex align-items-center">
            <a href="/" class="text-decoration-none me-5 fs-5">Home</a>
            <a href="/calendar" class="text-decoration-none me-5 fs-5">Calendar</a>
            <a href="/reports" class="text-decoration-none me-5 fs-5">Reports</a>
            <a href="/member-database" class="text-decoration-none me-5 fs-5">Database</a>
            <a href="/login" class="text-danger text-decoration-none fw-bold fs-5">Logout</a>
        </div>
    </div>
</nav>
